/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.search-container {
    position: relative;
    margin-bottom: 40px;
}

.fa-search {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

#search-input {
    width: 80%;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
}

#search-input:focus {
    border-color: #007bff;
}

/* Estilos para o título */
h1 {
    font-size: 37px;
    color: #007bff;
}

h1 span {
    font-weight: bold;
    font-size: 25px;
    color: #007bff57;
}

/* Estilos para os cards */
.cards {
    background-color: rgba(99, 226, 25, 0.466);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transição para suavizar o efeito */
}

.cards:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do card */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra mais pronunciada */
}

.icon-name {
    margin: 0;
    font-size: 20px;
    color: #333;
}

#nothing-alert {
    display: none;
    color: #ff0000;
    margin-top: 20px;
}

/* Adaptação para telas menores */
@media (max-width: 768px) {
    .cards {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .cards {
        width: 100%;
    }
}
